.Overview {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 250px;
  top: 0;
  background-color: #2f4050;
  color: azure;
  position: absolute;
}

.Topbar {
  height: 2%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: darkblue;
  position: top;
  color: white;
}

.Topbar #logo {
  flex: 80%;
  display: grid;
  place-items: right;
}

.Topbar .Notifications {
  flex: 10%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: Arial, Helvetica, sans-serif;
}

.Topbar .signout {
  flex: 10%;
  justify-content: center;
  background-color: blueviolet;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  display: grid;
  justify-content: left;
  place-items: center;
}
